# Live Render Production Backend API URL Connection
VITE_API_URL=https://diabeticpredictapp.onrender.com

# Firebase Configuration Credentials (Vite environment variables)
VITE_FIREBASE_API_KEY=AIzaSyBMyNWDC31ycEeBcmBbbNRZl4Cci1yd9ts
VITE_FIREBASE_AUTH_DOMAIN=diabetes-prediction-app-7db47.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=diabetes-prediction-app-7db47
VITE_FIREBASE_STORAGE_BUCKET=diabetes-prediction-app-7db47.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1010148864086
VITE_FIREBASE_APP_ID=1:1010148864086:web:3097581f80bb39808f4bf7
