# Dependencies
node_modules/
frontend/node_modules/

# Production builds & Cache
dist/
frontend/dist/
.vite/
frontend/.vite/
__pycache__/
*/__pycache__/
*.pyc

# Virtual Environment
venv/
.venv/
env/

# IDE & OS files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Environment Variables
.env
.env.local
.env.production
